In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = [
    'This is the first document.',
    'This document is the second document.',
    'And this is the third one.',
]
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)
print(vectorizer.get_feature_names())
['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']
print(X.shape)

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']
(3, 9)

In [3]:
print(X)

  (0, 1)	0.4694172843223779
  (0, 2)	0.6172273175654565
  (0, 6)	0.3645443967613799
  (0, 3)	0.3645443967613799
  (0, 8)	0.3645443967613799
  (1, 5)	0.47890874975914965
  (1, 1)	0.7284448965638161
  (1, 6)	0.2828512224204681
  (1, 3)	0.2828512224204681
  (1, 8)	0.2828512224204681
  (2, 4)	0.49711994139048143
  (2, 7)	0.49711994139048143
  (2, 0)	0.49711994139048143
  (2, 6)	0.2936070455647438
  (2, 3)	0.2936070455647438
  (2, 8)	0.2936070455647438

In [4]:
vectorizer

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [5]:
vectorizer.vocabulary_

{'this': 8,
 'is': 3,
 'the': 6,
 'first': 2,
 'document': 1,
 'second': 5,
 'and': 0,
 'third': 7,
 'one': 4}

In [7]:
vectorizer.get_feature_names()

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']

In [8]:
import pandas as pd 

type(X)

scipy.sparse.csr.csr_matrix

In [10]:
X.todense()

matrix([[0.        , 0.46941728, 0.61722732, 0.3645444 , 0.        ,
         0.        , 0.3645444 , 0.        , 0.3645444 ],
        [0.        , 0.7284449 , 0.        , 0.28285122, 0.        ,
         0.47890875, 0.28285122, 0.        , 0.28285122],
        [0.49711994, 0.        , 0.        , 0.29360705, 0.49711994,
         0.        , 0.29360705, 0.49711994, 0.29360705]])

In [11]:
X.toarray()

array([[0.        , 0.46941728, 0.61722732, 0.3645444 , 0.        ,
        0.        , 0.3645444 , 0.        , 0.3645444 ],
       [0.        , 0.7284449 , 0.        , 0.28285122, 0.        ,
        0.47890875, 0.28285122, 0.        , 0.28285122],
       [0.49711994, 0.        , 0.        , 0.29360705, 0.49711994,
        0.        , 0.29360705, 0.49711994, 0.29360705]])

In [14]:
test_df = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())

In [15]:
test_df

,and,document,first,is,one,second,the,third,this
0,0.00000,0.469417,0.617227,0.364544,0.00000,0.000000,0.364544,0.00000,0.364544
1,0.00000,0.728445,0.000000,0.282851,0.00000,0.478909,0.282851,0.00000,0.282851
2,0.49712,0.000000,0.000000,0.293607,0.49712,0.000000,0.293607,0.49712,0.293607

In [17]:
test_df.iloc[:,3:len(test_df.columns)]

         is      one    second       the    third      this
0  0.364544  0.00000  0.000000  0.364544  0.00000  0.364544
1  0.282851  0.00000  0.478909  0.282851  0.00000  0.282851
2  0.293607  0.49712  0.000000  0.293607  0.49712  0.293607

In [18]:
test_df.iloc[:,3:]

         is      one    second       the    third      this
0  0.364544  0.00000  0.000000  0.364544  0.00000  0.364544
1  0.282851  0.00000  0.478909  0.282851  0.00000  0.282851
2  0.293607  0.49712  0.000000  0.293607  0.49712  0.293607

In [19]:
dic = {'Kerin O’Keefe': 88, 'Roger Voss': 88, 'Paul Gregutt': 90, 'Alexander Peartree': 87, 'Michael Schachner': 88, 'Anna Lee C. Iijima': 87, 'Virginie Boone': 90, 'Matt Kettmann': 91, 'Jim Gordon': 89, 'Joe Czerwinski': 88, 'Anne Krebiehl\xa0MW': 90, 'Lauren Buzzeo': 86, 'Mike DeSimone': 88, 'Jeff Jenssen': 87, 'Susan Kostrzewa': 87, 'Carrie Dykes': 86}

In [20]:
print(max(dic.values()))

91

In [30]:
from collections import OrderedDict

dic = {'Kerin O’Keefe': 88, 'Roger Voss': 88, 'Paul Gregutt': 90, 'Alexander Peartree': 87, 'Michael Schachner': 88, 'Anna Lee C. Iijima': 87, 'Virginie Boone': 90, 'Matt Kettmann': 91, 'Jim Gordon': 89, 'Joe Czerwinski': 88, 'Anne Krebiehl\xa0MW': 90, 'Lauren Buzzeo': 86, 'Mike DeSimone': 88, 'Jeff Jenssen': 87, 'Susan Kostrzewa': 87, 'Carrie Dykes': 86}

In [22]:
dic

OrderedDict([('Kerin O’Keefe', 88),
             ('Roger Voss', 88),
             ('Paul Gregutt', 90),
             ('Alexander Peartree', 87),
             ('Michael Schachner', 88),
             ('Anna Lee C. Iijima', 87),
             ('Virginie Boone', 90),
             ('Matt Kettmann', 91),
             ('Jim Gordon', 89),
             ('Joe Czerwinski', 88),
             ('Anne Krebiehl\xa0MW', 90),
             ('Lauren Buzzeo', 86),
             ('Mike DeSimone', 88),
             ('Jeff Jenssen', 87),
             ('Susan Kostrzewa', 87),
             ('Carrie Dykes', 86)])

In [27]:
dic = OrderedDict(sorted(dic.items()))

AttributeError: 'list' object has no attribute 'items'

In [24]:
dic

[86, 86, 87, 87, 87, 87, 88, 88, 88, 88, 88, 89, 90, 90, 90, 91]

In [33]:
d = {'banana': 3, 'apple':4, 'pear': 1, 'mango': 2}
od=OrderedDict(dic.items())
print(od)

od=OrderedDict(sorted(dic.items()))
print(od)

t=od.popitem()
print(t)

od=OrderedDict(dic.items())
t=od.popitem()
print(t)

OrderedDict([('Kerin O’Keefe', 88), ('Roger Voss', 88), ('Paul Gregutt', 90), ('Alexander Peartree', 87), ('Michael Schachner', 88), ('Anna Lee C. Iijima', 87), ('Virginie Boone', 90), ('Matt Kettmann', 91), ('Jim Gordon', 89), ('Joe Czerwinski', 88), ('Anne Krebiehl\xa0MW', 90), ('Lauren Buzzeo', 86), ('Mike DeSimone', 88), ('Jeff Jenssen', 87), ('Susan Kostrzewa', 87), ('Carrie Dykes', 86)])
OrderedDict([('Alexander Peartree', 87), ('Anna Lee C. Iijima', 87), ('Anne Krebiehl\xa0MW', 90), ('Carrie Dykes', 86), ('Jeff Jenssen', 87), ('Jim Gordon', 89), ('Joe Czerwinski', 88), ('Kerin O’Keefe', 88), ('Lauren Buzzeo', 86), ('Matt Kettmann', 91), ('Michael Schachner', 88), ('Mike DeSimone', 88), ('Paul Gregutt', 90), ('Roger Voss', 88), ('Susan Kostrzewa', 87), ('Virginie Boone', 90)])
('Virginie Boone', 90)
('Carrie Dykes', 86)

In [45]:
import operator
d = OrderedDict({'Kerin O’Keefe': 88, 'Roger Voss': 88, 'Paul Gregutt': 90, 'Alexander Peartree': 87, 'Michael Schachner': 88, 'Anna Lee C. Iijima': 87, 'Virginie Boone': 90, 'Matt Kettmann': 91, 'Jim Gordon': 89, 'Joe Czerwinski': 88, 'Anne Krebiehl\xa0MW': 90, 'Lauren Buzzeo': 86, 'Mike DeSimone': 88, 'Jeff Jenssen': 87, 'Susan Kostrzewa': 87, 'Carrie Dykes': 86})
print(d.sort(key=lambda x: x[1], reverse=True))

AttributeError: 'collections.OrderedDict' object has no attribute 'sort'

In [47]:
import operator
d = {'Kerin O’Keefe': 88, 'Roger Voss': 88, 'Paul Gregutt': 90, 'Alexander Peartree': 87, 'Michael Schachner': 88, 'Anna Lee C. Iijima': 87, 'Virginie Boone': 90, 'Matt Kettmann': 91, 'Jim Gordon': 89, 'Joe Czerwinski': 88, 'Anne Krebiehl\xa0MW': 90, 'Lauren Buzzeo': 86, 'Mike DeSimone': 88, 'Jeff Jenssen': 87, 'Susan Kostrzewa': 87, 'Carrie Dykes': 86}
print('Original dictionary : ',d)
sorted_d = dict(sorted(d.items(), key=operator.itemgetter(1)))
print('Dictionary in ascending order by value : ',sorted_d)
sorted_d = dict(sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {'Kerin O’Keefe': 88, 'Roger Voss': 88, 'Paul Gregutt': 90, 'Alexander Peartree': 87, 'Michael Schachner': 88, 'Anna Lee C. Iijima': 87, 'Virginie Boone': 90, 'Matt Kettmann': 91, 'Jim Gordon': 89, 'Joe Czerwinski': 88, 'Anne Krebiehl\xa0MW': 90, 'Lauren Buzzeo': 86, 'Mike DeSimone': 88, 'Jeff Jenssen': 87, 'Susan Kostrzewa': 87, 'Carrie Dykes': 86}
Dictionary in ascending order by value :  {'Lauren Buzzeo': 86, 'Carrie Dykes': 86, 'Alexander Peartree': 87, 'Anna Lee C. Iijima': 87, 'Jeff Jenssen': 87, 'Susan Kostrzewa': 87, 'Kerin O’Keefe': 88, 'Roger Voss': 88, 'Michael Schachner': 88, 'Joe Czerwinski': 88, 'Mike DeSimone': 88, 'Jim Gordon': 89, 'Paul Gregutt': 90, 'Virginie Boone': 90, 'Anne Krebiehl\xa0MW': 90, 'Matt Kettmann': 91}
Dictionary in descending order by value :  {'Matt Kettmann': 91, 'Paul Gregutt': 90, 'Virginie Boone': 90, 'Anne Krebiehl\xa0MW': 90, 'Jim Gordon': 89, 'Kerin O’Keefe': 88, 'Roger Voss': 88, 'Michael Schachner': 88, 'Joe Czerwinski': 88, 'Mike DeSimone': 88, 'Alexander Peartree': 87, 'Anna Lee C. Iijima': 87, 'Jeff Jenssen': 87, 'Susan Kostrzewa': 87, 'Lauren Buzzeo': 86, 'Carrie Dykes': 86}

In [52]:
first2pairs = {k: sorted_d[k] for k in list(sorted_d)[:5]}
print(first2pairs)

{'Matt Kettmann': 91, 'Paul Gregutt': 90, 'Virginie Boone': 90, 'Anne Krebiehl\xa0MW': 90, 'Jim Gordon': 89}