In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = [
    'This is the first document.',
    'This document is the second document.',
    'And this is the third one.',
]
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)
print(vectorizer.get_feature_names())
['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']
print(X.shape)

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']
(3, 9)

In [3]:
print(X)

  (0, 1)	0.4694172843223779
  (0, 2)	0.6172273175654565
  (0, 6)	0.3645443967613799
  (0, 3)	0.3645443967613799
  (0, 8)	0.3645443967613799
  (1, 5)	0.47890874975914965
  (1, 1)	0.7284448965638161
  (1, 6)	0.2828512224204681
  (1, 3)	0.2828512224204681
  (1, 8)	0.2828512224204681
  (2, 4)	0.49711994139048143
  (2, 7)	0.49711994139048143
  (2, 0)	0.49711994139048143
  (2, 6)	0.2936070455647438
  (2, 3)	0.2936070455647438
  (2, 8)	0.2936070455647438

In [4]:
vectorizer

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [5]:
vectorizer.vocabulary_

{'this': 8,
 'is': 3,
 'the': 6,
 'first': 2,
 'document': 1,
 'second': 5,
 'and': 0,
 'third': 7,
 'one': 4}

In [7]:
vectorizer.get_feature_names()

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']

In [8]:
import pandas as pd 

type(X)

scipy.sparse.csr.csr_matrix

In [10]:
X.todense()

matrix([[0.        , 0.46941728, 0.61722732, 0.3645444 , 0.        ,
         0.        , 0.3645444 , 0.        , 0.3645444 ],
        [0.        , 0.7284449 , 0.        , 0.28285122, 0.        ,
         0.47890875, 0.28285122, 0.        , 0.28285122],
        [0.49711994, 0.        , 0.        , 0.29360705, 0.49711994,
         0.        , 0.29360705, 0.49711994, 0.29360705]])

In [11]:
X.toarray()

array([[0.        , 0.46941728, 0.61722732, 0.3645444 , 0.        ,
        0.        , 0.3645444 , 0.        , 0.3645444 ],
       [0.        , 0.7284449 , 0.        , 0.28285122, 0.        ,
        0.47890875, 0.28285122, 0.        , 0.28285122],
       [0.49711994, 0.        , 0.        , 0.29360705, 0.49711994,
        0.        , 0.29360705, 0.49711994, 0.29360705]])

In [13]:
pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())

,and,document,first,is,one,second,the,third,this
0,0.00000,0.469417,0.617227,0.364544,0.00000,0.000000,0.364544,0.00000,0.364544
1,0.00000,0.728445,0.000000,0.282851,0.00000,0.478909,0.282851,0.00000,0.282851
2,0.49712,0.000000,0.000000,0.293607,0.49712,0.000000,0.293607,0.49712,0.293607